.content {
  &__news {
    @include size(100%, 400px);
    background: rgba(0, 0, 0, .2);
    border-radius: 10px;
    margin: 35px 0;
  }

  &__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__card {
    width: 48%;
    margin-bottom: 50px;
  }
}
