<mat-toolbar class="toolbar">

  <div class="toolbar__logo">
    <mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
  </div>

  <div class="toolbar__wrapper">
    <div class="toolbar__social">
      <i class="toolbar__icon toolbar__icon-facebook icon-fb"></i>
      <i class="toolbar__icon toolbar__icon-instagram icon-inst"></i>
    </div>

    <div class="switch-lang">
      <mat-select [value]="translate.currentLang" #langSelect
                  (selectionChange)="switchLang(langSelect.value)">
        <mat-option *ngFor="let lang of translate.getLangs()"
                    [value]="lang">
          {{lang | uppercase}}
        </mat-option>
      </mat-select>
    </div>
  </div>

</mat-toolbar>
