<nav class="navigation">
  <mat-button-toggle-group class="navigation__wrapper" name="fontStyle" aria-label="Font Style">
    <mat-button-toggle class="navigation__item" value="about">{{'LABEL_ABOUT' | translate}}</mat-button-toggle>
    <mat-button-toggle class="navigation__item" value="news">{{'LABEL_NEWS' | translate}}</mat-button-toggle>
    <mat-button-toggle class="navigation__item" value="demand">{{'LABEL_DEMAND' | translate}}</mat-button-toggle>
    <mat-button-toggle class="navigation__item" value="image"></mat-button-toggle>
  </mat-button-toggle-group>
</nav>
